@inherits RocketEcommerce.Components.RocketEcommerceTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketEcommerce.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketECommerce/App_LocalResources/")

@{
    var paymentData = (PaymentLimpet)Model.List.First();
    var remoteParam = (RemoteLimpet)Model.GetDataObject("remoteparam");
    var info = new SimplisityInfo(paymentData.Record);
    info.Lang = remoteParam.CultureCode;
    var portalShop = new PortalShopLimpet(PortalUtils.GetPortalId(), remoteParam.CultureCode);
    var notificationLimpet = new NotificationLimpet(portalShop.PortalId, remoteParam.CultureCode);
    var systemData = new SystemLimpet("rocketecommerce");
    var adminlink = portalShop.EngineUrlWithProtocol.TrimEnd('/') + "/DesktopModules/DNNrocketModules/RocketEcommerce/admin.html";
    var companyData = new CompanyLimpet(PortalUtils.GetPortalId(), remoteParam.CultureCode);
    var apiurl = portalShop.EngineUrlWithProtocol.TrimEnd('/') + "/Desktopmodules/dnnrocket/api/rocket/action";
}

<div id="datasection" class="rocketecommerce_paymentform">
    <div class="w3-container">

        <div class="w3-col s1 m3  l4 ">
            <div class="w3-row w3-small w3-hide-small">
                <div>
                    @companyData.CompanyName
                </div>
                <div>
                    @BreakOf(companyData.DisplayAddress)
                </div>
                <br />
                <div>
                    @companyData.WebsiteUrl
                </div>
                @if (companyData.ContactEmail != "")
                {
                    <div>
                        @ResourceKey("RE.email"):&nbsp;@companyData.ContactEmail
                    </div>
                }
                @if (companyData.Phone != "")
                {
                    <div>
                        @ResourceKey("RE.tel"):&nbsp;@companyData.Phone
                    </div>
                }

            </div>
        </div>
        <div class="w3-col s10 m6 l4 w3-center">

            <div class="w3-row w3-padding ">
            </div>
            <div class="w3-row w3-padding w3-large">
                <b>
                    @companyData.CompanyName
                </b>
            </div>

            @if (paymentData.BankAction != PaymentAction.BankReturn && (!paymentData.IsPaymentCompleted || !paymentData.Exists))
            {
                <div class="w3-panel w3-center w3-card-4 w3-xlarge w3-round w3-red w3-padding-large">
                    @ResourceKey("RE.orderstatus" + paymentData.StatusCode)
                </div>
                <h1>ERROR: NO PAYMENT FOUND</h1>
            }
            else
            {
                <div class="paymentmessage">

                    @if (paymentData.PaymentMade || paymentData.IsPaymentCompleted)
                    {
                        if (paymentData.PaymentProvider.ToLower() == "manualpay")
                        {
                            <table class="w3-table w3-bordered">
                                <tr class="">
                                    <td>@ResourceKey("RE.amount")</td>
                                    <td>
                                        @paymentData.AmountDisplay
                                    </td>
                                </tr>
                            </table>

                            if (portalShop.CollectionOn)
                            {
                                <p>
                                    @BreakOf(notificationLimpet.Message_StorePickUp)
                                </p>
                            }
                            else
                            {
                                <p>
                                    @BreakOf(notificationLimpet.Message_WaitingForPayment)
                                </p>
                            }
                        }
                        else
                        {
                            <table class="w3-table w3-bordered">
                                <tr class="">
                                    <td>@ResourceKey("RE.amount")</td>
                                    <td>
                                        @paymentData.AmountDisplay
                                    </td>
                                </tr>
                                <tr>
                                    <td>@ResourceKey("RE.paid")</td>
                                    <td>
                                        @paymentData.AmountPaidDisplay
                                    </td>
                                </tr>
                                <tr>
                                    <td>@ResourceKey("RE.due")</td>
                                    <td>
                                        @paymentData.AmountDueDisplay
                                    </td>
                                </tr>
                            </table>


                            <div class="w3-panel w3-center w3-card-4 w3-xlarge w3-round w3-padding-large w3-green">
                                @ResourceKey("RE.orderstatus" + Convert.ToInt32(PaymentStatus.PaymentOK))
                            </div>
                            if (paymentData.Status == PaymentStatus.WaitingForPayment)
                            {
                                <p>
                                    @BreakOf(notificationLimpet.Message_WaitingForPayment)
                                </p>
                            }
                            else
                            {
                                <p>
                                    @BreakOf(notificationLimpet.Message_PaymentFormOK)
                                </p>
                            }
                        }
                    }
                    else
                    {
                        <div class="w3-panel w3-center w3-card-4 w3-xlarge w3-round w3-red w3-padding-large">
                            @ResourceKey("RE.orderstatus" + paymentData.StatusCode)
                        </div>

                        if (paymentData.Status == PaymentStatus.PaymentFailed)
                        {
                            <p>
                                @notificationLimpet.Message_PaymentFormFail
                            </p>
                        }

                    }

                </div>
            }

            <div class="w3-center w3-margin-top">
                <div class="w3-bar">

                    @if (portalShop.ProductListPageUrl == "")
                    {
                        <!--  NO paramater for "ProductListPageUrl" -->
                        <a class="w3-button w3-border w3-grey" href="/">@ResourceKey("RE.continueshopping")</a>
                    }
                    else
                    {
                        <a class="w3-button w3-border w3-grey" href="@LocalUtils.TokenReplacementCultureCode(portalShop.ProductListPageUrl, remoteParam.CultureCode.ToLower())">@ResourceKey("RE.continueshopping")</a>
                    }

                </div>
            </div>

        </div>
        <div class="w3-col s1 m3 l4 w3-right-align">
        </div>
    </div>

</div>
