@inherits RocketEcommerce.Components.RocketEcommerceTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketEcommerce.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/RocketThemes/dnnrocketmodule/Rocket_HtmlContent/1.0/resx/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Images/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketECommerce/App_LocalResources/")

@{
    var info = new SimplisityInfo();
    var cartData = (CartLimpet)Model.List.First();
    if (cartData.Record != null)
    {
        info = new SimplisityInfo(cartData.Record);
    }

    var countryData = new CountryLimpet(PortalUtils.GetPortalId());
    var sessionParams = (SessionParams)Model.SessionParamsData;
    var portalShop = (PortalShopLimpet)Model.GetDataObject("portalshop");
    var remoteModule = (RemoteModule)Model.GetDataObject("remotemodule");

}

@AddProcessData("resourcepath", "/DesktopModules/RocketThemes/rocketecommerce/" + portalShop.AppTheme.AppThemeFolder + "/" + portalShop.AppTheme.AppVersionFolder + "/resx/")

<div id="datasection" class="w3-container">

    <div id="shipingdetails">

        <div id="rocketecommerce_addressmodelship">
            <h3>@ResourceKey("RE.shippingaddress", sessionParams.CultureCode)</h3>

            <div class="w3-margin-bottom">
                @CheckBox(info, "genxml/shipaddress/collectinstore", "&nbsp;" + ResourceKey("RE.collectinstore", sessionParams.CultureCode).ToString(), "class='w3-check '", false)
            </div>

            <div id="shippingaddressinput">

                <div class="w3-margin-bottom">
                    @CheckBox(info, "genxml/shipaddress/usebillingaddress", "&nbsp;" + ResourceKey("RE.usebillingaddress", sessionParams.CultureCode).ToString(), "class='w3-check '", true)
                    <a class="w3-button w3-border w3-light-grey w3-right editshipbutton" onclick="editshipaddress();">@ButtonText(ButtonTypes.edit)</a>
                    <div class="w3-clear"></div>
                </div>

                <div class="w3-container w3-border w3-padding-32">

                    <div class="w3-row">
                        <div class="w3-half w3-padding-small">
                            <label>@ResourceKey("RE.firstname", sessionParams.CultureCode)</label>
                            @TextBox(info, "genxml/shipaddress/shipfirstname", " class='w3-input w3-border shipaddress'  disabled")
                        </div>
                        <div class="w3-half w3-padding-small">
                            <label>@ResourceKey("RE.lastname", sessionParams.CultureCode)</label>
                            @TextBox(info, "genxml/shipaddress/shiplastname", " class='w3-input w3-border shipaddress'   disabled")
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-half w3-padding-small">
                            <label>@ResourceKey("RE.email", sessionParams.CultureCode)</label>
                            @TextBox(info, "genxml/shipaddress/shipemail", " class='w3-input w3-border shipaddress' name='email' email  disabled")
                        </div>
                        <div class="w3-half w3-padding-small">
                            <label>@ResourceKey("RE.phone", sessionParams.CultureCode)</label>
                            @TextBox(info, "genxml/shipaddress/shipphone", " class='w3-input w3-border shipaddress'  disabled")
                        </div>
                    </div>

                    <div class="w3-row w3-padding-small">
                        <label>@ResourceKey("RE.company", sessionParams.CultureCode)</label>
                        @TextBox(info, "genxml/shipaddress/shipcompany", " class='w3-input w3-border shipaddress' autocomplete='off' disabled")
                    </div>
                    <div class="w3-row w3-padding-small">
                        <label>@ResourceKey("RE.address1", sessionParams.CultureCode)</label>
                        @TextBox(info, "genxml/shipaddress/shipaddress1", " class='w3-input w3-border shipaddress' autocomplete='off'  disabled")
                    </div>
                    <div class="w3-row w3-padding-small">
                        <label>@ResourceKey("RE.address2", sessionParams.CultureCode)</label>
                        @TextBox(info, "genxml/shipaddress/shipaddress2", " class='w3-input w3-border shipaddress' autocomplete='off' disabled")
                    </div>
                    <div class="w3-row">
                        <div class="w3-half w3-padding-small">
                            <label>@ResourceKey("RE.city", sessionParams.CultureCode)</label>
                            @TextBox(info, "genxml/shipaddress/shipcity", " class='w3-input w3-border shipaddress' autocomplete='off' disabled")
                        </div>
                        <div class="w3-half w3-padding-small">
                            <label>@ResourceKey("RE.postcode", sessionParams.CultureCode)</label>
                            @TextBox(info, "genxml/shipaddress/shippostcode", " class='w3-input w3-border shipaddress' autocomplete='off' disabled")
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-half w3-padding-small">
                            <label>@ResourceKey("RE.country", sessionParams.CultureCode)</label>
                            @DropDownList(info, "genxml/shipaddress/shipcountry", countryData.GetSelectedDictCountries(), "class='w3-input w3-border shipaddress simplisity_change' disabled s-cmd='settingcountry_getregion' s-dropdownlist='#shipregion'")
                        </div>
                        <div class="w3-half w3-padding-small">
                            <label>@ResourceKey("RE.region", sessionParams.CultureCode)</label>
                            @{
                                var countrycode = info.GetXmlProperty("genxml/shipaddress/shipcountry");
                                if (countrycode == "")
                                {
                                    countrycode = countryData.GetPrimaryCountry();
                                }
                            }
                            @DropDownList(info, "genxml/shipaddress/shipregion", countryData.RegionDictionary(countrycode), "class='w3-input w3-border shipaddress' disabled")
                        </div>
                    </div>
                </div>
                </div>

        </div>

        <div class="w3-row w3-margin-top w3-margin-bottom">
            <div class="w3-button w3-border w3-left w3-margin-bottom simplisity_click" s-post="#datasection" s-cmd="rocketecommerce_savecartship" s-return='.ecommerce-container' s-fields='{"systemkey":"rocketecommerce","template":"cartaddressbill.cshtml","dataref":"@(remoteModule.DataRef)"}'>@ButtonText(ButtonTypes.previous, sessionParams.CultureCode)</div>
            <div class="w3-hide simplisity_click savecartship " s-post="#datasection" s-cmd="rocketecommerce_savecartship" s-return='.ecommerce-container' s-fields='{"systemkey":"rocketecommerce","template":"cartaddressship.cshtml","dataref":"@(remoteModule.DataRef)"}'>@ButtonText(ButtonTypes.previous, sessionParams.CultureCode)</div>
            <div class="w3-button w3-border w3-right w3-margin-left w3-margin-bottom simplisity_click" s-post="#datasection" s-cmd="rocketecommerce_savecartship" s-return='.ecommerce-container' s-fields='{"systemkey":"rocketecommerce","template":"cartsummary.cshtml","dataref":"@(remoteModule.DataRef)"}'>@ButtonText(ButtonTypes.next, sessionParams.CultureCode)</div>
            <div class="w3-button w3-border w3-right w3-margin-bottom w3-light-grey" onclick="location.reload();return false;">@ResourceKey("RE.continueshopping", sessionParams.CultureCode)</div>
            <div class="w3-button w3-border w3-right w3-margin-right w3-margin-bottom simplisity_click " s-cmd="rocketecommerce_cartship" s-return='.ecommerce-container' s-fields='{"systemkey":"rocketecommerce","template":"cartaddressship.cshtml","dataref":"@(remoteModule.DataRef)"}'>@ButtonIcon(ButtonTypes.refresh, sessionParams.CultureCode)</div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {

        if ($('#collectinstore').prop('checked')) {
            $('#shippingaddressinput').hide();
        }

        @if (!cartData.ShipUseBillAddress)
        {
            @: $('.shipaddress').prop("disabled", false);
            @: $('.editshipbutton').hide();
        }

        $('#usebillingaddress').unbind("change");
        $('#usebillingaddress').change(function () {
            if ($(this).prop('checked')) {
                $('.shipaddress').prop("disabled", true);
                $('.savecartship').trigger('click');
            }
            else {
                $('.shipaddress').prop("disabled", false);
                $('.editshipbutton').hide();
            }
        });

        $('#collectinstore').unbind("click");
        $('#collectinstore').click(function () {
            if ($(this).prop('checked')) {
                $('#shippingaddressinput').hide();
            }
            else {
                $('#shippingaddressinput').show();
            }
        });        

    });

    function editshipaddress() {
        $('.shipaddress').prop("disabled", false);
        $('#usebillingaddress').prop("checked", false);
        $('.editshipbutton').hide();
    }
</script>



