@inherits RocketEcommerce.Components.RocketEcommerceTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketEcommerce.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketECommerce/App_LocalResources/")

@{
    var cartData = (CartLimpet)Model.GetDataObject("cartdata");
    var companyData = new CompanyLimpet(cartData.PortalId, DNNrocketUtils.GetCurrentCulture());
    var portalShop = (PortalShopLimpet)Model.GetDataObject("portalshop");
    var sessionParams = (SessionParams)Model.SessionParamsData;
    var cartitemList = cartData.CartItemList;
    var remoteModule = (RemoteModule)Model.GetDataObject("remotemodule");
    var appTheme = (AppThemeLimpet)Model.GetDataObject("apptheme");
}

@AddProcessData("resourcepath", "/DesktopModules/RocketThemes/rocketecommerce/" + appTheme.AppThemeFolder + "/" + appTheme.AppVersionFolder + "/resx/")

<div class="minicartdisplay">
    <h3>@ResourceKey("RE.cart", sessionParams.CultureCode)</h3>
    <div class="w3-border-bottom w3-margin-bottom ">@(cartData.QtyCount) @ResourceKey("RE.items", sessionParams.CultureCode)</div>
    <div class="w3-margin-bottom "><strong>@(portalShop.CurrenyDisplay(cartData.SubTotal))</strong></div>
    <a id="cartdisplay" class="w3-button w3-light-grey simplisity_click " s-cmdurl="@(sessionParams.ApiUrl)" s-return="#ecommerce-tag" s-cmd="remote_cartlist" s-fields='{"systemkey":"rocketecommerce","template":"cartlist.cshtml","moduleref":"@(remoteModule.ModuleRef)"}'>@MaterialIcon("shopping_cart")&nbsp;@(ResourceKey("RE.viewcart", sessionParams.CultureCode))</a>
</div>

<script>
    $(document).ready(function () {
        $('.minicartdisplay').activateSimplisityPanel()
    });
</script>