@inherits RocketEcommerce.Components.RocketEcommerceTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketEcommerce.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketECommerce/App_LocalResources/")

@{
    var cartData = (CartLimpet)Model.GetDataObject("cartdata");
    var companyData = new CompanyLimpet(cartData.PortalId, DNNrocketUtils.GetCurrentCulture());
    var portalShop = (PortalShopLimpet)Model.GetDataObject("portalshop");
    var sessionParams = (SessionParams)Model.SessionParamsData;
    var appThemeFolder = portalShop.AppTheme.AppThemeFolder;
    var cartitemList = cartData.CartItemList;
}

@AddProcessData("resourcepath", "/DesktopModules/RocketThemes/rocketecommerce/" + portalShop.AppTheme.AppThemeFolder + "/" + portalShop.AppTheme.AppVersionFolder + "/resx/")

<h3>@ResourceKey("RE.cart", sessionParams.CultureCode)</h3>
<div class="w3-border-bottom w3-margin-bottom ">@(cartData.QtyCount) @ResourceKey("RE.items", sessionParams.CultureCode)</div>
<div class="w3-margin-bottom "><strong>@(portalShop.CurrenyDisplay(cartData.SubTotal))</strong></div>
<a id="cartdisplay" class="w3-button w3-light-grey simplisity_click " s-cmd="rocketecommerce_cartlist" s-return='.ecommerce-container' s-fields='{"systemkey":"rocketecommerce","template":"cartlist.cshtml"}'>@MaterialIcon("shopping_cart")&nbsp;@(ResourceKey("RE.viewcart", sessionParams.CultureCode))</a>
