@inherits RocketEcommerce.Components.RocketEcommerceTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RocketEcommerce.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketECommerce/App_LocalResources/")

@{
    var productDataList = (ProductLimpetList)Model.GetDataObject("productlist");
    var companyData = (CompanyLimpet)Model.GetDataObject("companydata"); ;
    var cartData = (CartLimpet)Model.GetDataObject("cartdata");
    var sessionParams = (SessionParams)Model.SessionParamsData;
    var portalShop = productDataList.PortalShop;
    var portalData = new PortalLimpet(PortalUtils.GetCurrentPortalId());
    var remoteModule = (RemoteModule)Model.GetDataObject("remotemodule");
    var appTheme = (AppThemeLimpet)Model.GetDataObject("apptheme");
    var appThemeDefault = (AppThemeLimpet)Model.GetDataObject("appthemedefault");
    var categoryData = new CategoryLimpet(portalShop.PortalId, sessionParams.GetInt("searchcategoryid"), sessionParams.CultureCode);
}

@AddProcessData("resourcepath", "/DesktopModules/RocketThemes/" + remoteModule.AppThemeViewFolder + "/" + remoteModule.AppThemeViewVersion + "/resx/")

<div class="productlistflex">

    <div class="productlist">

        <div id="datasection" class="productlistdisplay">

            @RenderTemplate("SearchBanner.cshtml", appThemeDefault, Model, true)

            <div id="datalist2" class="productgrid">
                @{
                    var lp1 = 0;
                }
                @foreach (ProductLimpet productData in productDataList.GetArticleList())
                {
                    lp1 += 1;
                    var logoRelPath = productData.LogoRelPath;
                    if (productData.LogoRelPath == "")
                    {
                        logoRelPath = "/DesktopModules/DNNrocket/api/images/noimage2.png";
                    }
                    var productListUrl = sessionParams.PageUrl + productData.UrlTokens(portalShop.ProductDetailPageUrl);

                    <div class="product">

                        <div class="productimg">
                            <img src="@ThumbnailImageWebsiteDomainUrl(portalData.EngineUrlWithProtocol,logoRelPath,480,480)" alt="@productData.Name" />
                            <!-- Rollover -->
                            <div class="productrollover">
                                <div class="productrollover-content">
                                    <div class="productrollover-actions">
                                        @{
                                            var modellistcount = productData.GetModelList().Count;
                                            var optionlistcount = productData.GetOptionList().Count;
                                        }
                                        @if (modellistcount == 1 && optionlistcount == 0)
                                        {
                                            <a href="javascript:void(0);" onclick="addproducttocart('@productData.ProductId');" rel="nofollow" class="buybutton">@ResourceKey("RE.addtobasket", sessionParams.CultureCode)</a>
                                        }
                                        @if (modellistcount == 1 && optionlistcount == 0 && portalShop.ProductDetailPageUrl != "")
                                        {
                                            <span>/</span>
                                        }
                                        <a href="javascript:void(0);" onclick="showproductmodel(@(productData.ProductId))" title="@productData.Name">@ResourceKey("RE.details", sessionParams.CultureCode)</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="productcontent">
                            <h3>
                                <a href="javascript:void(0)" onclick="showproductmodel(@(productData.ProductId))">
                                        @productData.Name
                                </a>
                            </h3>
                            <div class="w3-row">
                                @if (productData.SalePriceMinimum > 0)
                                {
                                    <div class="w3-half w3-padding">
                                        <div class="productprice" style="text-decoration:line-through;">@productData.PriceMinimumDisplay()</div>
                                    </div>
                                    <div class="w3-half w3-red w3-padding">
                                        <div class="w3-large">@productData.SalePriceMinimumDisplay()</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="w3-padding">
                                        <div class="productprice">@productData.PriceMinimumDisplay()</div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>

                    <!-- Quick View -->
                    <div id="productmodelid@(productData.ProductId)" class="w3-modal">
                        <div class="w3-modal-content w3-animate-bottom w3-card-4 productdatasection" id="productdatasection@(productData.ProductId)">

                            <div class="w3-display-topright w3-button" onclick="$('#productmodelid@(productData.ProductId)').hide();">&times;</div>

                            <div class="productquickview">

                                <div class="quickviewimage">
                                    <img src="@ThumbnailImageWebsiteDomainUrl(portalData.EngineUrlWithProtocol,logoRelPath,450, 450)" popupsrc="@ThumbnailImageWebsiteDomainUrl(portalData.EngineUrlWithProtocol, logoRelPath, 800, 0)" class="imgrollovertarget" alt="@productData.Name" onclick="popupImage(this)" />
                                    @if (productData.GetImages().Count > 1)
                                    {
                                        <div class="quickviewgallery">
                                            @{
                                                var imgLp = 1;
                                            }
                                            @foreach (var i in productData.GetImages())
                                            {
                                                if (imgLp <= 5)
                                                {
                                                    <img src="@ThumbnailImageWebsiteDomainUrl(portalData.EngineUrlWithProtocol, i.RelPath, 450, 450)" popupsrc="@ThumbnailImageWebsiteDomainUrl(portalData.EngineUrlWithProtocol, i.RelPath, 800, 0)" class="imgrollover" />
                                                }
                                                imgLp += 1;
                                            }
                                        </div>
                                    }
                                </div>

                                <div class="quickviewcontent">
								
									<h2>@productData.Name</h2>

                                    @if (productData.GetModelList().Count > 1)
                                    {
                                        <div class="w3-hide-small "><b>@ResourceKey("RE.from", sessionParams.CultureCode)</b></div>
                                    }

                                    @if (productData.SalePriceMinimum > 0)
                                    {
                                        <div class="quickviewprice">
                                            <span>&nbsp;@productData.SalePriceMinimumDisplay()</span>
                                            <span style="text-decoration:line-through;" class="w3-small">@productData.PriceMinimumDisplay()</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="quickviewprice">
                                            @productData.PriceMinimumDisplay()
                                        </div>
                                    }
                                    <div class="quickviewsummary">@BreakOf(productData.Summary)</div>
                                    <div class="quickviewmodels">
                                        @{
                                            var displaymodels = "displaymodels";
                                        }
                                        @if (productData.GetModels().Count > 1)
                                        {
                                            displaymodels = "";
                                        }
                                        <div id="modelinput@(productData.ProductId)" class="w3-white w3-margin-bottom modelinput @displaymodels">@ModelDropdown(productData)</div>
                                        <div id="optionsinput@(productData.ProductId)" class="w3-white w3-margin-bottom modelinput">@OptionsInput(productData)</div>
                                    </div>

                                    <div id="qtyinput@(productData.ProductId)" class="quickviewactions">
                                        <div class="quickviewqty">
                                            <div class="w3-bar">
                                                <div class="w3-bar-item w3-border w3-col w3-center w3-button product-subtract" productid="@(productData.ProductId)">&minus;</div>
                                                <input type="number" min="0" class="w3-bar-item w3-col w3-input w3-border-top w3-border-bottom w3-center qtyvalue" id="qty@(productData.ProductId)" s-xpath="genxml/textbox/qty" value="1" style="width:60px;" />
                                                <div class="w3-bar-item w3-border w3-col w3-center w3-button product-plus" productid="@(productData.ProductId)">&plus;</div>
                                            </div>
                                        </div>
                                        <div class="quickviewbuy">
                                            <a href="javascript:void(0);" onclick="addproducttocart('@(productData.ProductId)', '#productdatasection@(productData.ProductId)');" rel="nofollow" class="w3-button buybutton" title="@ResourceKey("RE.addtobasket", sessionParams.CultureCode)" style="width:60px;">@MaterialIcon("shopping_cart")</a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>


                }
            </div>

            @RenderTemplate("ProductPaging.cshtml", appThemeDefault, Model, true)

        </div>

    </div>

    <div class="productlistside">

        <!-- Cart (Include design to stop flicker on the page) -->
        <div id="minicartdisplay" class="productlistcart">
            @RenderTemplate("MiniCart.cshtml", appTheme, Model)
        </div>

    </div>

</div>

<script>

    $(document).ready(function () {

        // CART EVENTS
        $('.product-subtract').unbind("click");
        $('.product-subtract').click(function () {
            updateQty($(this).attr("productid"), -1)
            return false; // prevent the button click from happening
        });
        $('.product-plus').unbind("click");
        $('.product-plus').click(function () {
            updateQty($(this).attr("productid"), 1)
            return false; // prevent the button click from happening
        });

        $('.imgrollover').unbind("mouseover");
        $(".imgrollover").mouseover(function () {
            $('.imgrollovertarget').attr('src', $(this).attr('src'));
            $('.imgrollovertarget').attr('popupsrc', $(this).attr('popupsrc'));
        });

        $('.productlistdisplay').activateSimplisityPanel()

        firstLoadMove();
    });

    function addproducttocart(productid, spost) {
        $('.simplisity_loader').show();
        $('#productmodelid' + productid).hide();
        $('#minicartdisplay').getSimplisity('@(sessionParams.ApiUrl)', 'remote_addtocart', '{"template":"MiniCart.cshtml","productid":"' + productid + '","moduleref":"@(remoteModule.ModuleRef)"}', '', spost)
    }

    function showproductmodel(productid) {
        jQuery('#qty' + productid).val('1');
        document.getElementById('productmodelid' + productid).style.display = 'block'
    }

</script>
