@inherits RocketEcommerce.Components.RocketEcommerceTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using RocketEcommerce.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")

@{

    var articleDataList = (ProductLimpetList)Model.GetDataObject("productlist");
    var sessionParams = (SessionParams)Model.SessionParamsData;
    var portalShop = articleDataList.PortalShop;
    var rowcount = articleDataList.SessionParamData.RowCount;
    var page = articleDataList.SessionParamData.Page;
    var pagesize = articleDataList.SessionParamData.PageSize;
    var pagechapter = 5;
    var lastpage = 0;
    var catid = articleDataList.SessionParamData.GetInt("searchcategoryid");

    var r = (page - 1) / pagechapter;
    var BeginPage = 0;
    var EndPage = 0;

    if (pagesize > 0)
    {
        lastpage = System.Convert.ToInt32(rowcount / pagesize);
        if (rowcount % pagesize > 0)
        {
            lastpage += 1;
        }
        BeginPage = pagechapter * r + 1;
        EndPage = Math.Min(pagechapter * (r + 1), lastpage);
    }

}

@if (pagesize > 0 && (EndPage != BeginPage))
{

    <div class="w3-center w3-margin">
        <div class="w3-bar">
            @if (BeginPage != 1)
            {
                <a href="@LocalUtils.TokenReplacementCultureCode(portalShop.ProductListPageUrl, sessionParams.CultureCode.ToLower())?page=1&pagesize=@(pagesize)" class="w3-button w3-hover-grey simplisity_click" s-cmd="rocketecommerce_productlist" s-return='.ecommerce-container' s-post=".searchdata" s-fields='{"page":"1","stopanimate":"true","systemkey":"rocketecommerce","template":"view.cshtml"}'>|❮</a>
                if (page >= 6)
                {
                    <a href="@LocalUtils.TokenReplacementCultureCode(portalShop.ProductListPageUrl, sessionParams.CultureCode.ToLower())?page=@(BeginPage - 1)&pagesize=@(pagesize)" class="w3-button w3-hover-grey simplisity_click" s-cmd="rocketecommerce_productlist" s-return='.ecommerce-container' s-post=".searchdata" s-fields='{"page":"@(BeginPage - 1)","stopanimate":"true","systemkey":"rocketecommerce","template":"view.cshtml"}'>..</a>
                }
            }

            @for (int i = BeginPage; i < (EndPage + 1); i++)
            {
                var selected = "";
                if (i == page)
                {
                    selected = "w3-grey";
                }
                if (i <= lastpage)
                {
                    <a href="@LocalUtils.TokenReplacementCultureCode(portalShop.ProductListPageUrl, sessionParams.CultureCode.ToLower()))?page=@(i)&pagesize=@(pagesize)" class='w3-button w3-hover-grey @selected simplisity_click' s-cmd="rocketecommerce_productlist"  s-return='.ecommerce-container' s-post=".searchdata" s-fields='{"page":"@i","stopanimate":"true","systemkey":"rocketecommerce","template":"view.cshtml"}'>@i</a>
                }
            }

            @if (page < lastpage)
            {
                if (EndPage != lastpage)
                {
                    <a href="@LocalUtils.TokenReplacementCultureCode(portalShop.ProductListPageUrl, sessionParams.CultureCode.ToLower())?page=@(EndPage + 1)&pagesize=@(pagesize)" class="w3-button w3-hover-grey simplisity_click" onclick="return false;" s-cmd="rocketecommerce_productlist" s-return='.ecommerce-container' s-post=".searchdata" s-fields='{"page":"@(EndPage + 1)","stopanimate":"true","systemkey":"rocketecommerce","template":"view.cshtml"}'>..</a>
                }
                    <a href="@LocalUtils.TokenReplacementCultureCode(portalShop.ProductListPageUrl, sessionParams.CultureCode.ToLower())?page=@(lastpage)&pagesize=8" class="w3-button w3-hover-grey simplisity_click" onclick="return false;" s-cmd="rocketecommerce_productlist" s-return='.ecommerce-container' s-post=".searchdata" s-fields='{"page":"@lastpage","stopanimate":"true","systemkey":"rocketecommerce","template":"view.cshtml"}'>❯|</a>
            }

        </div>
    </div>

}

<script>

    $(document).ready(function () {


    });

</script>